<div class="login-container">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatar-frame-offline">
          <img src="assets/img/generic_avatar.png" class="avatar-image img-fluid rounded mx-auto d-block" />
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="center">
        <h3 class="center">Iniciar Sesión</h3>
        <p *ngIf="operation == 'register'">¿Ya tienes cuenta? Haz <a href="javascript:void(0)" (click)="operation = 'login'">Login</a></p>
        <p *ngIf="operation == 'login'">¿No tienes cuenta? <a href="javascript:void(0)" (click)="operation = 'register'">Registrate</a></p>
        <div class="bordered-container">
          <form action="javascript:void(0)">
            <div class="form-row">
              <div class="form-group">
                <input class="form-control" [(ngModel)] = "email" [ngModelOptions]="{standalone: true}" type="email" placeholder="Correo Electronico" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <input class="form-control" [(ngModel)] = "password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Contraseña" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <input *ngIf="operation == 'register'" class="form-control" type="nick" placeholder="Nick" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <a (click)="login()" href="javascript:void(0);" *ngIf="operation == 'login'"  class="btn btn-primary">Iniciar Sesion</a>
                <a (click)="register()" href="javascript:void(0);" *ngIf="operation == 'register'"  class="btn btn-primary">Registrarme</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
